@import '../../styles/vars';

.categories-list {
  background-color: $green-blue;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__button {
    padding: 16px 8px;
    min-width: 50px;
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: $medium-purple;
    }

    &--special {
      background-color: $space-cadet;
    }
  }
}