@import '/src/styles/vars';

.filters {
  padding: 16px;
  margin-top: 16px;

  background-color: $cornflower-blue;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}