@import '/src/styles/vars';

.filters {
  width: 200px;
  padding: 16px;

  background-color: $cornflower-blue;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 4px;
    height: 32px;
    width: 168px;

    &-image {
      width: 16px;
      height: 16px;
    }
  }

  &__card {
    width: 320px;

    background-color: $baby-blue-eyes;

    &-title {
      font-size: 14px;
    }

    &-subtitle {
      font-size: 12px;
    }
  }
}